.contact-main-container {
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-main-container h2 {
    padding: 2rem;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(131, 131, 131);
}

.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    font-family: 'Poppins', sans-serif;
    padding: 1.1rem 0.2px;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option h3 {
    word-wrap: break-word;
    color: rgb(13, 9, 36);
}

.contact__option h5 {
    word-wrap: break-word;
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.contact__container form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__container input,
.contact__container textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: white;
    font-family: Arial;
}

.contact__container .btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    cursor: pointer;
    border: 1px solid var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    transition: var(--transition);
    margin-bottom: 50rem;
}

.contact__container .btn:hover {
    color: white;
    background-color: rgb(17, 20, 72);
}

.contact__container .btn-primary {
    color: white;
    background-color: rgb(2, 4, 36);
}

@media screen and (max-width: 480px) {
    .contact__container {
        grid-template-columns: none;
        gap: 5%;
    }

    .contact__container form {
        justify-content: center;
        align-items: center;
    }
}